@model WMIP.Web.Models.Articles.ArticleDisplayViewModel

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <partial name="RatingPartial" model="new RatingViewModel { PostId = Model.Id, Score = Model.Score, RatingType=Model.CurrentUserRating }" />
            <b>@Model.Title</b>
            <h6>by: @Model.AuthorName</h6>
            <h6>written on: @Model.CreatedOn.ToShortDateString(), @Model.CreatedOn.ToShortTimeString()</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                @if (string.IsNullOrWhiteSpace(Model.Summary))
                {
                    @Html.Raw("No summary.")
                }
                else
                {
                    @Model.Summary
                }
            </h5>
            <a href="/Articles/Details/@Model.Id" class="btn btn-primary">Full article</a>
        </div>
    </div>
</div>