@model WMIP.Web.Models.Reviews.DisplayReviewViewModel



<div class="col-md-6 col-lg-6">
    <div class="card">
        <div class="card-header">
            @Model.Title
            <h6>by: @Model.Reviewer</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                @if (string.IsNullOrWhiteSpace(Model.Summary))
                {
                    @Html.Raw("No summary.")
                }
                else
                {
                    @Model.Summary
                }
            </h5>
            <p class="card-text">@Model.ReviewScore/10</p>
            <a href="/Reviews/Details/@Model.Id" class="btn btn-primary">Full review</a>
        </div>
    </div>
</div>