@model WMIP.Web.Models.Reviews.ReviewDetailsViewModel

<div class="text-center">
    <h1 class="font-weight-bold">@Model.Title</h1>
    <h6>a review by: @Model.ReviewerName, @Model.ReviewType</h6>
    <h6 class="font-italic">for: <a href="/Albums/Details/@Model.AlbumId">@Model.AlbumName</a></h6>
</div>
<hr class="hr-1 bg-info w50" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 reviewBody">
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Score: @Model.ReviewScore/10</p>
        </div>
    </div>
</div>
<hr class="hr-1 bg-info w50" />