@model WMIP.Web.Models.Home.HomePageViewModel

@{
    ViewData["Title"] = "Web Music Info Place - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @if (Model.LatestReleases != null && Model.LatestReleases.Count() > 0)
            {
                <div class="card">
                    <div class="card-header white-on-black">
                        <h6 class="size-1em"><b>Latest releases</b></h6>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            @foreach (var album in Model.LatestReleases)
                            {
                                <div class="row">
                                    @Html.DisplayFor(m => album)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.ComingSoon != null && Model.ComingSoon.Count() > 0)
            {
                <div class="card">
                    <div class="card-header white-on-black">
                        <h6 class="size-1em"><b>Coming soon</b></h6>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            @foreach (var album in Model.ComingSoon)
                            {
                                <div class="row">
                                    @Html.DisplayFor(m => album)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.UsersMostAcclaimed != null && Model.UsersMostAcclaimed.Count() > 0)
            {
                ViewData["ReviewType"] = "User";
                <div class="card">
                    <div class="card-header white-on-black">
                        <h6 class="size-1em"><b>Users' most acclaimed</b></h6>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            @foreach (var album in Model.UsersMostAcclaimed)
                            {
                                <div class="row">
                                    @Html.DisplayFor(m => album)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.CriticsMostAcclaimed != null && Model.CriticsMostAcclaimed.Count() > 0)
            {
                ViewData["ReviewType"] = "Critic";
                <div class="card">
                    <div class="card-header white-on-black">
                        <h6 class="size-1em"><b>Critics' most acclaimed</b></h6>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            @foreach (var album in Model.CriticsMostAcclaimed)
                            {
                                <div class="row">
                                    @Html.DisplayFor(m => album)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-8">
            @if (Model.LatestArticles != null && Model.LatestArticles.Count() > 0)
            {
                @foreach (var article in Model.LatestArticles)
                {
                    <div class="row">
                        @Html.DisplayFor(m => article)
                    </div>
                }
            }
            else
            {
                <h3 class="text-danger">No articles found.</h3>
            }
        </div>
    </div>
</div>
