@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/unobtrusiveajax.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top abolute-important">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Web Music Info Place</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Articles" asp-action="All">All Articles</a></li>
                    @if (this.User != null && this.User.Identity.IsAuthenticated)
                    {
                        Html.RenderPartial("LoggedInNavigation");
                    }
                    @if (this.User != null && this.User.IsInRole("Admin"))
                    {
                        Html.RenderPartial("AdminNavigation");
                    }

                    @if (this.User != null && this.User.IsInRole("Artist"))
                    {
                        Html.RenderPartial("ArtistNavigation");
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("SearchPartial")
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Web Music Info Place</p>
        </footer>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        toastr.options.positionClass = "toast-bottom-center";

        $(document).ready(function () {
            if('@TempData["Error"]'){
                toastr.error('@TempData["Error"]');
            }
            if('@TempData["Success"]'){
                toastr.success('@TempData["Success"]');
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
