@model CommentDisplayViewModel

<div class="commentParent">
    <div class="commentHeader">
        @{ ViewData["UseHorizontal"] = true; }
        <partial name="RatingPartial" model="new RatingViewModel { PostId = Model.Id, Score = Model.Score, RatingType = Model.CurrentUserRating }" />
        <div class="col-md-11">
            <h6><b>@Model.Title</b>, by @Model.AuthorName, submitted on: @Model.CreatedOn.ToShortDateString(), @Model.CreatedOn.ToShortTimeString()</h6>
            <span title="Hide" class="hideComment">-</span>
        </div>
        <div class="row">
            @Html.Partial("NewCommentPartial", new NewCommentViewModel { PostId = Model.Id, Type = "reply" })
        </div>
    </div>
    <div class="commentBody">
        <p>@Html.Raw(Model.Body)</p>
        <div class="newCommentsContainer"></div>
        @if (Model.Replies != null && Model.Replies.Count() > 0)
        {
            <div class="commentReply">
                @foreach (var reply in Model.Replies)
                {
                    @Html.Partial("CommentDisplayPartial", reply)
                }
            </div>
        }
    </div>
</div>

<script src="~/js/hide-comment.js"></script>